.git/**
.vscode/**
node_modules/**
src/**
test/**
media/chat.js
.parley/**
out/**
dist/**/*.map
docs/**
debug/**
**/debug/**
**/*.log
esbuild.js
**/*.map
tsconfig.json
.gitignore
.parleyignore
.github/**
.eslintrc.json
.prettierrc.json
